{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}VizSciFlow - Login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

<script src="../../static/app.js/ajaxCalls.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <button class="btn btn-default" onclick="location.href='https://cas.usask.ca/cas/login?service=http://vizsciflow.usask.ca/auth/login'" type="button">
        <img src="../../static/usask_logo.jpg" height="50" width="50"/>
        Usask login
    </button>

    <br>
    
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>

</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    $(window).on('load', function() {
        if (window.location.search  && window.location.search.includes('?ticket')) {
            var casTicket = window.location.search.split("?ticket=")[1];
            console.log(casTicket)

            ajaxcalls = new AjaxCalls('mainulhossain@gmail.com', 'mainul');
            ajaxcalls.simple('/auth/usask/login', 'GET', { service: 'http://vizsciflow.usask.ca/auth/login', ticket: casTicket }).done(function(data) {    
                if (data === undefined)
                    return;
                
                console.log(data)
                /*
                localStorage.setItem('access_token', data.access_token);
                localStorage.setItem('userName', data.user);
                localStorage.setItem('loginStatus', true);
                localStorage.setItem('isNewUser', data.isNewUser);
                localStorage.setItem('refresh_token', data.refresh_token);
                */
            }).fail(function(jqXHR) {
                showXHRText(jqXHR);
            });  
        }
    });
</script>
{% endblock %}