/* .expand-item{
    content: url('../icons/down-arrow.svg');
} */

px-4{
    padding-left: 1rem * 1.5;
    padding-right: 1rem * 1.5;
}

div[id^="data-list-item-body-"] .list-group-item {
    border: none !important;
}

div[id^="data-list-item-body-"] .list-group-item:hover {
    background-color: rgb(227, 235, 235);
    cursor: pointer;
}

.list-group-item-clicked {
    background-color: rgb(185, 189, 189);
}