{% extends "base.html" %}

{% block title %}SciClone - About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About</h1>
</div>

<div style="color:blue;font-size:18px;">
<p>SciClone is a workflow management system with a domain-specific language.</p>
<p>It has a simple syntax and a minimal set of keywords.</p>
<p>The syntax has similarities to python’s syntax and indenting.</p>
<p>Scientists can write a workflow script using the visual elements offered in SciClone web interface.</p>
</div>

<h3>
See <a href="static/vizsciflow-quickstart.html">Quick Start Guide</a> or <a href="static/biodsl-help.html">User Manual</a> for more information.
</h3>
{% endblock %}
