{% extends "base.html" %}

{% block title %}VizSciFlow - Progress Dashboard{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Progress Dashboard</h1>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Level: {{ user_level }}</h2>
    </div>
    <div class="panel-body">
        <label id="progress-bar-label" for="progress-bar">
            Progress: [{{ points_entry_latest }}/100 pts]
        </label>
        <meter
            id="progress-bar" value="{{ points_entry_latest }}"
            min="0" max="100" >
        </meter>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Streak</h2>
    </div>
    <div class="panel-body">
        <h4>{{ streak }}-Day Streak</h4>
        <h4>Longest Streak: {{ max_streak }} days</h4>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Missions</h2>
    </div>
    <div class="panel-body table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr class="row">
					<th>Completed</th>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Tutorial</th>
					<th>Points Value</th>
				</tr>
			</thead>
			<tbody>
			{% for mission in missions %}
				<tr class="row">
					<td>{{ mission.get("completed") }}</td>
					<td>{{ mission.get("id") }}</td>
					<td>{{ mission.get("title") }}</td>
					<td>{{ mission.get("description") }}</td>
					<td>{{ mission.get("tutorial") }}</td>
					<td>{{ mission.get("points") }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>

{% endblock %}
