/* .expand-item{
    content: url('../icons/down-arrow.svg');
} */

px-4{
    padding-left: 1rem * 1.5;
    padding-right: 1rem * 1.5;
}
.mt-5 {
    margin-top: 5px;
}
.search-btn{
   margin: 5px 0px 0px 5px;
   /* height: 5px; */
}

div[id^="data-list-item-body-"] .list-group-item {
    border: none !important;
}

div[id^="data-list-item-body-"] .list-group-item:hover {
    background-color: rgb(227, 235, 235);
    cursor: pointer;
}

.list-group-item-clicked {
    background-color: rgb(185, 189, 189);
}
/* .load-more{
    background-image: url(../dist/themes/default/throbber.gif);
} */

/* .jstree-default a.jstree-loading .jstree-icon { 
    background:url("../dist/themes/default/throbber.gif") center center no-repeat !important; 
} */

